h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

* {
    font-family: sans-serif;
}

a {
    text-decoration:
    color: #000000;
    text-transform: uppercase;
}
body{
    margin: 0px;
    padding: 0px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
}

header {
    background-color : #000000;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-size: 50px;

}

h1 span {
    color: #FF2234;
    font-size: 60px;
}

nav a {
    color: #FF2234;
}


h2 {
    font-size: 70px;
    color: #FFF;
}

h2 span {
    color: #FF2234;
    font-size: 100px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    background-color: #FF2234;
}

.banner img {
    width: 100%;
    height: 28em;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF2234;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
h4 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.information {
    background-color: #FF2234;
    padding-top: 20px;

    border-top: solid;
    border-width: 0.5px;
}



.information-items {
    display: flex;
}

.information-item {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10px;
}

.information-item p {
    color: white;
}


footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    color: white;
}